*{
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
}

body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: #F2FDFF;
}

input{
    padding:10px;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #cecece;
}

input [type = "checkbox"]{
    display: inline;
}

button{
    padding: 10px;
    border-radius: 5px;
}

.navBtn{
    /* display: block; */
    background-color: #424242;
    color: white;
    padding: 10px 10px;
    text-decoration: none;

}

#table{
    flex: 1;
    /* width: 100%; */
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top:15px ;
}

#formCont{
    flex: 1;
    box-shadow: 0px 0px 5px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

#tableCont{
    width: 100%;
    max-width: 1000px;
    flex: 1;
    display: none;
    box-shadow: 0px 0px 5px black;
    display: none;
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}

.bookCont{
    border-left: 5px solid;
    padding: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
    width: 40%;
    /* flex: 1; */
    transition: 0.3s ease;
}

.bookCont:hover{
    cursor: pointer;
}

label{
    font-size: 15px;
    margin-left: 10px;
}


p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.active{
    box-shadow: 0px 0xp 5px  black;
    border: 5px solid;
}

.inputLabel{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
}

#addBook{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

h3{
    text-align: center;
}